<!-- This is part of the Boss Fight Hands On Assignment -->
<!-- Parts of this project are complete. 
There are notes ("FILLIN") through this file where something is missing. 
Add in the missing bits to complete the website. Good luck! -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Serendipitous - 404 Error</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
        </script>
        <![endif]-->
        <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js">
        </script>
        <![endif]-->
    </head>
	<style>
		body { background-color: black; }
		h1 { color: #FFD700;
			 font-family: 'Merienda One', cursive;
			 font-size: 5em; }
		h2, p { color: white; }
	</style>
    <body>
        <header role="banner"> 
			<center>
			<br><br><br>
			<h1>Serendipitous</h1>
			</center>
        </header>
        <main role="main">
			<br>
			<center>
			<h2>404</h2>
			<p>Well well. Where did you come from? Let's get you back on track.</p>
			<p><a href="#FILLIN">Back to Login</a></p>
			</center>
        </main>
    </body>
</html>
