<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Alien Communication Portal</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header role="banner"> 
			<h1>Send to Aliens</h1>
        </header>
        <main role="main">
			<p>The aliens have hired you to send them information on daily human life.</p> 
			<p>The most facinating thing you have sent them so far is a picture of pizza.</p>
			<p>The aliens are very pleased with you. Keep up the good work!</p>
			<form action = "/success" method = "post" enctype="multipart/form-data">  
				<input type="file" name="file" />  
				<input type = "submit" value="Upload">  
			</form> 
        </main>
    </body>
</html>
